<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-sm-fluid container-md">
    <a class="navbar-brand" href="#">Navbar</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="">Home</a>
        </li>
      </ul>
      <div *ngIf="authService.userData.authToken; then thenBlock; else elseBlock"></div>
      <ng-template class="dropdown" #thenBlock>
        <div class="dropdown">
          <button
            class="btn btn-secondary dropdown-toggle"
            type="button"
            id="dropdownMenuButton1"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
          {{authService.userData.email}}
        </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" routerLink="/profile">Profile</a></li>
            <li><a class="dropdown-item" (click)="logout()" >Logout</a></li>
          </ul>
        </div>
      </ng-template>
      <ng-template #elseBlock>
        <button class="btn btn-secondary" type="button" routerLink="/login" >login</button>
      </ng-template>
    </div>
  </div>
</nav>
