
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title"> ENTER YOUR OTP </h4>
          <button type="button" class="btn-close" (click)="handleClose()" data-bs-dismiss="modal"></button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
            <form style="display:flex;flex-direction:column " [formGroup]="otpForm" (ngSubmit)="onSubmit()" >
                <label for="otp"> Enter OTP </label>
                <input type="text" class="inputClass" formControlName="otp" placeholder="please enter OTP"  >
                <button type="submit" class="btn btn-success" >Submit</button>
            </form>
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" (click)="handleClose()" data-bs-dismiss="modal">Close</button>
        </div>
  
      </div>
    </div>
  